$containerWidth: 940px;
$baseFontSize: 16px;

// z-indexes
$z-fixed-menu: 100;

// colors
$grey: #666666;
$lightGrey: #f5f5f5;
$black: #292929;
$red: #e01f3d;
$darkRed: #ca1b36;
$white: #ffffff;

// fonts
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Play:wght@400;700&display=swap");

//normalize
@import "layout/normalize";

// setup
@import "layout/base";

// blocks
@import "blocks/hero";
@import "blocks/button";
@import "blocks/header";
@import "blocks/logo";
@import "blocks/menu";
@import "blocks/contacts";
@import "blocks/features";
@import "blocks/feature";
@import "blocks/section";
@import "blocks/headline";
@import "blocks/advantages";
@import "blocks/advantage";
@import "blocks/reviews";
@import "blocks/interactive-avatar";
@import "blocks/form";
@import "blocks/radio";
@import "blocks/fixed-menu";
