.advantages {
  display: flex;

  @include phones {
    flex-direction: column;
  }
}

.advantages__item {
  flex: 1;
  padding: 0 4%;
  position: relative;

  &:before {
    content: url("../img/icons/circles.png");
    position: absolute;
    top: rem(58px);
    right: 0;
    transform: translateX(50%);
  }

  @include tablets {
    padding: 0 1%;
    &::before {
      display: none;
    }
  }

  @include phones {
    padding: 0;
    margin-bottom: rem(26px);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:first-child {
    padding-left: 0;

    @include tablets {
      flex: 0.9;
    }
  }

  &:last-child {
    padding-right: 0;

    &:before {
      display: none;
    }

    @include tablets {
      flex: 0.9;
    }
  }
}
