.colors {
  &-section {
    color: white;
  }
  &-section__title {
    color: white;
    position: absolute;
    top: rem(115px);
    left: rem(84px);
  }

  &__container {
    width: 100%;
    height: 100%;
    background: url("../img/accordeon-bg.jpg") center center / cover no-repeat;
    display: flex;
    justify-content: flex-end;
  }

  &__list {
    display: flex;

    @include phones {
      width: 100%;
      justify-content: flex-end;
    }
  }

  &__item {
    display: flex;

    &.active {
      @include phones {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
      }
    }
  }

  &__link {
    display: flex;
    padding: rem(34px) rem(30px);
    position: relative;

    &-title {
      font-family: "Alegreya Sans", sans-serif;
      writing-mode: tb-rl;
      transform: rotate(-180deg);
      font-size: rem(36px);
      font-weight: 700;
    }

    &--bg--grey {
      background-color: #999999;
    }
    &--bg--red {
      background-color: $red;
    }
    &--bg--black {
      background-color: $black;
    }
  }

  &__desc {
    overflow: hidden;
    position: relative;
    width: 0;
    background: rgba(51, 53, 55, 0.9);
    transition: 0.1s;

    @include phones {
      z-index: 100;
    }

    &-text {
      font-size: rem(16px);
      font-weight: 400;
      padding: rem(30px) rem(54px) rem(30px) rem(38px);
    }
  }
}
