.contacts {
  display: flex;
  align-items: center;
  white-space: nowrap;
  transition: 0.2s;

  @include tablets {
    font-size: rem(18px);
  }

  @include phones {
    font-size: rem(16px);
  }

  &:hover {
    color: #e01f3d;
    .contacts__icon-img {
      fill: #e01f3d;
    }
  }
}

.contacts__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: rem(6px);
  flex-shrink: 0;
  width: rem(14px);
  height: rem(14px);
}

.contacts__icon-img {
  max-width: 100%;
  max-height: 100%;
  fill: $black;
  transition: 0.2s;
}
