.footer__container {
  display: flex;
  justify-content: space-between;

  @include phones {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-top: 2%;
  padding-bottom: 2%;
  color: $black;
  background: white;
  font-size: rem(18px);

  @include tablets {
    font-size: rem(21px);
    padding: rem(30px);
  }
  @include phones {
    font-size: rem(18px);
  }
}

.footer__address {
  display: flex;
  font-style: normal;
  flex-direction: column;
  align-items: flex-start;

  @include phones {
    align-items: center;
    text-align: center;
    margin-bottom: rem(20px);
  }
}

.footer__street {
  margin-bottom: 5px;

  @include phones {
    margin-bottom: rem(18px);
  }
}
