.headline {
  text-align: center;
  margin-bottom: rem(62px);

  @include tablets {
    margin-bottom: rem(48px);
  }

  @include phones {
    margin-bottom: rem(48px);
  }
}

.headline__title {
  margin-bottom: rem(18px);

  @include tablets {
    margin-bottom: rem(8px);
  }
  @include phones {
    margin-bottom: rem(13px);
  }
}

.headline__subtitle {
  padding: 0 20%;

  @include tablets {
    padding: 0 10%;
  }

  @include phones {
    padding: 0 5%;
  }
}
