.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: rem(10px);

  @include tablets {
    align-items: center;
  }
}

.header__contacts {
  padding-top: 10px;
}
.contacts.header__contacts {
  @include tablets {
    display: none;
  }
}
