html {
  font-size: $baseFontSize;
  min-width: 320px;

  @include phones {
    font-size: 2vmax;
  }
}

html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Play, sans-serif;
  color: $grey;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 98%;
  max-width: $containerWidth;
  margin: 0 auto;
  position: relative;

  @include phones {
    width: 96%;
  }
}

// tag styles reset

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
  color: $black;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

img {
  display: block;
  max-width: 100%;
}
