.advantages {
  display: flex;
}

.advantages__item {
  flex: 1;
  padding: 0 4%;
  position: relative;

  &:before {
    content: url("../img/icons/circles.png");
    position: absolute;
    top: 58px;
    right: 0;
    transform: translateX(50%);
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;

    &:before {
      display: none;
    }
  }
}
