.reviews__display {
  background: $lightGrey;
  padding: 42px 120px 42px 42px;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 83px;
    height: 83px;
    background: $white;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    top: -65px;
  }
}

.reviews__display-inner {
  display: flex;
}

.reviews__avatar {
  width: 253px;
  height: 264px;
  margin-right: 40px;
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  padding: 30px 0;
}

.reviews__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 27px;
}

.reviews__text {
  margin-bottom: 38px;
  line-height: 1.3;
}

.reviews__author {
  font-size: 18px;
  font-weight: 700;
  color: $black;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
}

.reviews__switcher-item {
  margin-right: 6;

  &:last-child {
    margin-right: 0;
  }
}
