.section {
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__title {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 45px;

  &--color--white {
    color: $white;
  }
}

.section-advantages {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    bottom: -2.2%;
    left: 4%;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-top-width: 18px;
    border-bottom-width: 18px;
    border-right: 36px solid $red;
    transform: rotate(-45deg);
  }
}

.section-reviews {
  padding: 0 79px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    background: #868686;
    border-radius: 50%;
    bottom: -2%;
    left: 4%;
  }
}

.section-order {
  background: #181818;
  color: $white;
}
