.advantage {
  text-align: center;
}

.advantage__img-wrapper {
  display: inline-block;
  width: 128px;
  height: 128px;
  position: relative;
  border-radius: 50%;
  background-color: $lightGrey;
  overflow: hidden;
  margin-bottom: 21px;
}

.advantage__icon {
  width: 68px;
  height: 68px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.advantage__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 7px;
}

.advantage__desc {
  padding: 0 1%;
  line-height: 1.2;
}
