.button {
  display: block;
  width: rem(163px);
  height: rem(54px);
  border-radius: rem(100px);
  background-color: $red;
  padding: rem(18px) rem(41px);
  color: $white;
  font-size: rem(16px);
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $darkRed;
  }

  &--color--trasparent {
    width: inherit;
    height: inherit;
    padding: 0;
    text-transform: none;
    font-weight: 400;
    background-color: transparent;
    margin-left: rem(15px);

    &:hover {
      background-color: transparent;
      color: $red;
    }

    @include tablets {
      margin-left: rem(24px);
    }
  }
}
