.feature {
  display: flex;
}

.feature__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(40px);
  height: rem(40px);
  margin-right: rem(10px);
}

.feature__icon-img {
  max-width: 100%;
  max-width: 100%;
  fill: $black;
}

.feature__text {
  font-size: rem(16px);
  color: $black;
  max-width: rem(114px);
}
