.feature {
  display: flex;
}

.feature__icon {
  display: block;
  width: rem(40px);
  height: rem(40px);
  margin-right: rem(10px);
}

.feature__text {
  font-size: rem(16px);
  color: $black;
  max-width: rem(114px);
}
