.interactive-avatar {
  width: rem(78px);
  height: rem(78px);
  border-radius: 50%;
  border: rem(4px) solid transparent;
  overflow: hidden;
  position: relative;

  &--active {
    border-color: $red;
  }

  @include phones {
    width: rem(66px);
    height: rem(66px);
  }
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
