.reviews__display {
  background: $lightGrey;
  padding: rem(42px) rem(120px) rem(42px) rem(42px);
  margin-bottom: rem(15px);
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    display: block;
    width: rem(83px);
    height: rem(83px);
    background: $white;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    top: rem(-65px);

    @include phones {
      display: none;
    }
  }

  @include tablets {
    margin-bottom: rem(20px);
    padding: rem(42px) rem(16px);
  }

  @include phones {
    margin-bottom: rem(40px);
  }
}

.reviews__list {
  position: relative;
  min-height: rem(200px);
}

.reviews__item {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.3s;

  &.active {
    position: static;
    opacity: 1;
  }
}

.reviews__display-inner {
  display: flex;

  @include tablets {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.reviews__avatar {
  width: rem(253px);
  height: rem(264px);
  margin-right: rem(40px);

  @include tablets {
    width: rem(130px);
    height: rem(130px);
    margin-right: 0;
  }
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  padding: rem(30px) 0;

  @include tablets {
    padding: rem(24px) 0 0 0;
  }
}

.reviews__title {
  font-size: rem(24px);
  font-weight: 700;
  margin-bottom: rem(27px);

  @include phones {
    margin-bottom: rem(14px);
  }
}

.reviews__text {
  margin-bottom: rem(38px);
  line-height: 1.3;

  @include tablets {
    margin-bottom: rem(28px);
  }

  @include phones {
    margin-bottom: rem(16px);
  }
}

.reviews__author {
  font-size: rem(18px);
  font-weight: 700;
  color: $black;

  @include tablets {
    font-weight: 400;
  }
}

.reviews__switcher {
  display: flex;
  justify-content: center;
}

.reviews__switcher-item {
  margin-right: 6px;

  &:last-child {
    margin-right: 0;
  }
  @include phones {
    margin-right: 4px;
  }
}
