.section {
  height: 100vh;
  min-height: rem(650px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &--bg--grey {
    background-color: $lightGrey;
  }
  &-advantages {
    &:before {
      content: "";
      position: absolute;
      bottom: -2.2%;
      left: 4%;
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-top-width: rem(18px);
      border-bottom-width: rem(18px);
      border-right: rem(36px) solid $red;
      transform: rotate(-45deg);
      z-index: $z-decorations;
    }
  }

  &-reviews {
    padding: 0 rem(79px);
    position: relative;

    @include tablets {
      padding: 0 0;
    }

    &:before {
      content: "";
      position: absolute;
      width: rem(35px);
      height: rem(35px);
      background: #868686;
      border-radius: 50%;
      bottom: -2%;
      left: 4%;
      z-index: $z-decorations;
    }
  }

  &-order {
    background: #181818;
    color: $white;
  }
}

.section__title {
  font-size: rem(48px);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: rem(45px);

  &--color--white {
    color: $white;
  }

  @include tablets {
    margin-bottom: rem(32px);
  }

  @include phones {
    font-size: rem(32px);
    margin-bottom: rem(40px);
  }
}

.map {
  height: 100%;
  width: 100%;
}
.map__img {
  height: 100%;
  object-fit: cover;
}
